<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Download</a></li>
                <li><a href="#">Source Code</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="">Box</a></li>
                <li><a href="">Dropbox</a></li>
                <li><a href="">Digital Ocean</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Foursquare</a></li>
                <li><a href="">Google</a></li>
                <li><a href="">GitHub</a></li>
                <li><a href="">Instagram</a></li>
                <li><a href="">LinkedIn</a></li>
                <li><a href="">Meetup</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div ui-view></div>
        </div>
    </div>
</div>
