<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron" style="margin-bottom: 0">
    <div class="container">
        <h1>Oauth for Apache Cordova</h1>
        <p>
            An AngularJS Apache Cordova Oauth library. The purpose of this
            library is to quickly and easily obtain an access token from various web services to use their APIs.
        </p>
    </div>
</div>

<div class="call-to-action">
    <div class="container" style="text-align: center">
        <button class="btn btn-primary btn-lg">Download</button> <button class="btn btn-success btn-lg">Documentation</button>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>Multiple Providers</h2>
            <p>
                Support for popular service providers including Facebook, Twitter, and Google.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Hassle Free</h2>
            <p>
                Get an access token for any of the supported providers with as little as three lines of code.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Open Source</h2>
            <p>
                The full source code can be forked on GitHub for free under the MIT license.
            </p>
        </div>
    </div>

</div> <!-- /container -->
